

.button{
    width : 50px;
    height : 50px;
    font-size: 30px;
    font-style : adam;
    background-color: black;
    border-color: black;
    color: white;
    border-width : thin;
    
    
}
.button:hover{
    cursor:pointer;
    color:black;
    transition:0.2s;
}

.box{
    width : 65px;
    height : 45px;
    position : relative;
    top : -5px;
    left : 7px;
    text-align: center;
    border-color :black;
    font-size : 15px;
    border-width : thin;
}

.pad{
    position : relative;
    height : 375px;
    width:250px;
    left:450px; 
    top:-250px;
    

}

.pad:hover{
    /*outline: 2px solid black;*/
    color : blue;

}

.vb:hover{
    /*outline: 2px solid black;*/
    color :blue;
}

.vb{
    
    position : relative;
    height : 375px;
    width:250px;
    top : 125px;
    left : 50px;
    
}

.result{
    position : relative;
    top : -175;
}

.minus:hover{
    background-color : white;
}

.plus:hover{
    background-color : white;   
}

.plus{
    position:relative;
    left : 5px;
}

.minus{
    position:relative;
    left : 9px;
}
.seg1{
    position :relative;
    left : 32px;
    top : -30px;
    width :187px;
    visibility :hidden;
    
}

.vb:hover .seg1{
    visibility: visible;

}

.seg2{
    position: relative;
    left : 32px;
    width :187px;
    visibility :hidden;
    
}

.pad:hover .seg2{
    visibility: visible;
}



.balltext{
    position : relative;
    left : 35px;
    top : 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size : 25px;
    font-weight : 500;
}


.kneetext{
    position : relative;
    left : 45px;
    top:1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size : 25px;
    font-weight : medium;
}


.whole{
    background-color: white;
    width :800px;
}

.check{
    width :175px;
    height : 60px;
    position:relative;
    top : -150;
    left : 510;
    background-color : black;
    border-width :medium;
    border-color :black;
    color : white;
}

.check:hover{
    background-color:white;
    color:black;
    font-weight : bold;
    cursor:pointer;
}

.stotal{
    position : relative;
    top : -100;
    left : 510;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

#stotbox{
    width:50px;
    height :50px;
}

.vbimg{

    position :relative;
    left : 28px;
    top : 12px;
}

.padimg{

    position : relative;
    left: -15px;
    top : 12px;
}
.cost1{
    position:relative;
    top : -10px;
    left :10px;
}


